* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
a {
    color: #3498db;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #e74c3c;
    text-decoration: underline;
}